{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}No Title{% endblock %}</title>
        <link rel='stylesheet' href='{% static "styles.css" %}'/>
        <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
        <script src='{% static "scripts.js" %}'></script>
        <link rel="shortcut icon" href="/static/icons/favicon.png" />
        {% block extra_head %}{% endblock %}
    </head>
    
    <body>
        <div id='error' style='display:none'>
            <div class='errorText'>
                ERROR!
            </div>
            
            <div class='errorButtons'>
                <a class='delete button'>&nbsp;</a>
            </div>
        </div>
        
        <nav>
            {% if user.is_authenticated %}
                <a href='{% url "bookmarks:home"%}' {% if area == "bookmarks" %}class='active'{% endif %}>
                    Bookmarks
                </a>
                
                <a href='{% url "tags:home"%}' {% if area == "tags" %}class='active'{% endif %}>
                    Tags
                </a>
                
                <a href='{% url "user:home"%}' {% if area == "user" %}class='active'{% endif %}>
                    {{ user.username }}
                </a>
            {% else %}
                <a href='{% url "user:login"%}' class='active'>
                    Log In
                </a>
            {% endif %}
        </nav>
        
        <content>
        {% block content %}
            <div class='box'>No document content specified.</div>
        {% endblock %}
        </content>
        
        <footer>
            
        </footer>
        
        <div class='hidden' id='csrf'>{{ csrf_token }}</div>
    </body>
</html>
