{% load tag %}
<form class='tagForm' style='display:flex' method='POST' action='{% url "tags:tag" %}'>
    {% csrf_token %}
    {{ atf.type.as_hidden }}
    <input type='hidden' name='pk' value='{{ pk }}' />
    <input class='tagEntry' type='text' placeholder='Add Tag' name='name' list='tslist-{{ atf.type_str }}-{{ pk }}'/>
    <datalist id='tslist-{{ atf.type_str }}-{{ pk }}'>
        
    </datalist>
    {{ atf.colour }}
    <a class='addTag button rightSpace' title='Add Tag'>&nbsp;&nbsp;&nbsp;</a>
</form>
