{% extends "base.html" %}

{% load tag bookmark url_add %}

{% block title %}Tag: {{ tag.name }}{% endblock %}

{% block content %}

<div class='box'>
    <form action='{% url "tags:pin" tag=tag.slug %}' method='POST' id='pinForm'>{% csrf_token %}
        {% if tag.pinned %}
            <input type='submit' value='Remove this tag from the top bar'/>
        {% else %}
            <input type='hidden' name='pinned' value='on'/>
            <input type='submit' value='Pin this tag so it appears in the top bar'/>
        {% endif %}
    </form>
</div>

{% url_add tag %}
{% tagBlock tag %}

<div id='bookmark-list'>
    {% for bm in bookmarks %}
        {% bookmark bm tag %}
    {% endfor %}
</div>

{% endblock %}
