<div class='tag {{ tag.colour }}' data-id='{{ tag.pk }}' data-slug='{{ tag.slug }}'>
    <a href='{% url "tags:filter" tag=tag.slug %}'>{{ tag.name }}</a>
    {% if direct %}
    <form action='{% url "tags:untag" %}' method='POST' class='inlineUntagForm'>
        {% csrf_token %}
        {{ rtf.type.as_hidden }}
        <input type='hidden' name='tag_pk' value='{{ tag.pk }}' />
        <input type='hidden' name='target_pk' value='{{ pk_target }}' />
        <a class='inlineUntag button'>&nbsp;</a>
    </form>
    
    {% endif %}
</div>
