{% load tag %}
<div class='tagBlock box block {{ tag.colour }}' data-id='{{ tag.pk }}' data-slug='{{ tag.slug }}'
data-taggable-type='tag'>
    <div class='head'>
        <div class='title noedit'><a href='{% url "tags:filter" tag=tag.slug %}'>{{ tag.name }}</a></div>
        
        <div class='title edit'>
            <form class='renameForm' method='POST' action='{% url "tags:rename" tag=tag.slug %}'>
                {% csrf_token %}
                <input class='renameEntry' name='name' type='text' value='{{ tag.name }}'/>
                {{ atf.colour }}
            </form>
        </div>
        
        <span class='count'>{{ tag.bookmarks.all.count }}</span>
        
        <div class='tags nomobile'>{% for t in implies %}{% tag t tag rtf %}{% endfor %}</div>
        
        <div class='buttons'>
            <a class='expand button' title='Show Options'>&nbsp;</a>
        </div>
    </div>
    <div class='head mobile'>
        <div class='tags'>{% for t in implies %}{% tag t tag rtf %}{% endfor %}</div>
    </div>
    
    <div class='body' style='display:none'>
        <div class='nomobile'>{% for t in tag.tags_to.all %}{% tag t tag rtf %}{% endfor %}</div>
        
        <div class='rightIfNotMobile'>{% addTag atf tag.pk %}</div>
        <div class='buttons'>
            <a class='addTag button rightSpace' title='Add Tag'>&nbsp;</a>
        </div>
        
        <div class='buttons rightIfMobile'>
            <a class='rename button edit' style='display:none' title='Save'>&nbsp;</a>
            <a class='editTitle button noedit' title='Edit'>&nbsp;</a>
            
            <form action='{% url "tags:delete" %}' method='POST' class='deleteForm'
                data-undo-url='{% url "tags:restore" %}'
            >
                {% csrf_token %}
                <input type='hidden' name='tag' value='{{ tag.pk }}'/>
                <a class='delete button' title='Delete'>&nbsp;</a>
            </form>
        </div>
    </div>
</div>
