body {
    margin:0px;
    background:#eeeeee;
    color:#222222;
    padding-bottom:20px;
}

form {
    display:inline;
}

a {
    text-decoration:none;
    color:#333333;
}

a:visited {
    color:#888888;
}

#error {
    display:flex;
    padding:5px;
    background-color:#994444;
    border-bottom:1px solid #330000;
    color:#eeaaaa;
}

.errorButtons {
    margin-left:auto;
}

.errorText {
    padding:2px;
}

nav {
    display:flex;
    justify-content:center;
    border-bottom:1px solid #cccccc;
    background:#fafafa;
}

main {
    display:block;
}

footer {
    display:block;
}

nav a {
    display:block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: -1px;
    padding:5px;
    font-size:120%;
    text-decoration:none;
    color:#999999 !important;
    border-bottom:2px solid transparent;
}

nav a.active.active {
    border-bottom:3px solid #9999cc;
    color:#9999cc !important;
}

nav a:hover {
    border-bottom:2px solid #E9C229;
    color:#E9C229 !important;
}

.box {
    margin-left:10px;
    margin-right:10px;
    background:#fafafa;
    background-image:linear-gradient(180deg, #eeeeee, #cccccc);
    border:1px solid #cccccc;
    border-radius:5px;
    padding:5px;
    margin-top:5px;
}

.head {
    display:flex;
}

.flexStretch {
    flex:1 1 auto;
}

.head .count {
    display:inline-block;
    width:32px;
    padding:2px;
    padding-top:3px;
    text-align:center;
}

.head .title {
    padding:2px;
    padding-top:3px;
}

.head .title.edit {
    display:none;
    padding:0px;
}

.head .title.edit input {
    margin:0px;
}

.head .title.edit .done {
    margin-top:0px;
}

.head .tags {
    display:flex;
}

.body {
    display:flex;
}

.body .right {
    display:flex;
    margin-left:auto;
}

.url {
    color:#999999;
    font-style:italic;
}

.tag {
    display:flex;
    align-items:center;
    padding:2px;
    padding-left:4px;
    padding-right:4px;
    border: 1px solid;
    margin-right:4px;
    border-radius:5px;
    overflow:hidden;
}

.tag a, .tagBlock a {
    color:inherit;
}

.white {
    background-color:#f8f8f8;
    background-image: linear-gradient(180deg, #f8f8f8, #cccccc);
    border-color:#cccccc;
    color:#777777;
}

.black {
    background-color:#333333;
    background-image: linear-gradient(180deg, #333333, #000000);
    border-color:#000000;
    color:#999999;
}

.darkblue {
    background-color:#222255;
    background-image: linear-gradient(180deg, #222255, #000033);
    border-color:#000033;
    color:#8899cc;
}

.darkgreen {
    background-color:#225522;
    background-image: linear-gradient(180deg, #225522, #003300);
    border-color:#003300;
    color:#77aa77;
}

.darkred {
    background-color:#552222;
    background-image: linear-gradient(180deg, #552222, #330000);
    border-color:#330000;
    color:#aa7777;
}

.blue {
    background-color:#aaaaee;
    background-image: linear-gradient(180deg, #aaaaee, #7777cc);
    border-color:#7777cc;
    color:#222244;
}

.green {
    background-color:#99cc99;
    background-image: linear-gradient(180deg, #99cc99, #66aa66);
    border-color:#66aa66;
    color:#224422;
}

.red {
    background-color:#cc9999;
    background-image: linear-gradient(180deg, #cc9999, #aa6666);
    border-color:#aa6666;
    color:#442222;
}

.yellow {
    background-color:#eeee99;
    background-image: linear-gradient(180deg, #eeee99, #cccc66);
    border-color:#cccc66;
    color:#666622;
}

.magenta {
    background-color:#cc99cc;
    background-image: linear-gradient(180deg, #cc99cc, #aa66aa);
    border-color:#aa66aa;
    color:#442244;
}

.cyan {
    background-color:#99dddd;
    background-image: linear-gradient(180deg, #99dddd, #66bbbb);
    border-color:#66bbbb;
    color:#225555;
}

.orange {
    background-color:#ddbb88;
    background-image: linear-gradient(180deg, #ddbb88, #bb9955);
    border-color:#bb9955;
    color:#665533;
}

.hidden {
    display:none;
}

.currentPage {
    text-decoration:underline;
}

.button {
    width:16px;
    height:16px;
    display:inline-block;
    margin-top:4px;
    cursor:pointer;
    overflow:hidden;
}

.delete.button {
    background-image:url('/static/icons/delete.png');
}

.expand.button {
    background-image:url('/static/icons/editExpand.png');
}

.editTitle.button {
    background-image:url('/static/icons/rename.png');
}

.addTag.button {
    background-image:url('/static/icons/addTag.png');
    margin-right:16px;
}

.untag.button {
    background-image:url('/static/icons/removeTag.png');
}

.inlineUntag.button {
    background-image:url('/static/icons/removeTag.png');
    margin-top:0px;
    display:none;
    width:0px;
}

.rename.button {
    margin-top:0px;
    background-image:url('/static/icons/save.png');
}

form.renameForm {
    display:flex;
    align-items:center;
}


#error .delete.button, .black .delete.button, .darkblue .delete.button, .darkgreen .delete.button,
    .darkred .delete.button {
    background-image:url('/static/icons/deleteLight.png');
}

.black .expand.button, .darkblue .expand.button, .darkgreen .expand.button, .darkred .expand.button {
    background-image:url('/static/icons/editExpandLight.png');
}

.black .editTitle.button, .darkblue .editTitle.button, .darkgreen .editTitle.button, .darkred .editTitle.button {
    background-image:url('/static/icons/renameLight.png');
}

.black .addTag.button, .darkblue .addTag.button, .darkgreen .addTag.button, .darkred .addTag.button {
    background-image:url('/static/icons/addTagLight.png');
    margin-right:16px;
}

.black .untag.button, .darkblue .untag.button, .darkgreen .untag.button, .darkred .untag.button {
    background-image:url('/static/icons/removeTagLight.png');
}

.black > .inlineUntag.button, .darkblue > .inlineUntag.button, .darkgreen > .inlineUntag.button, .darkred > .inlineUntag.button {
    background-image:url('/static/icons/removeTagLight.png');
}

.black .rename.button, .darkblue .rename.button, .darkgreen .rename.button, .darkred .rename.button {
    background-image:url('/static/icons/saveLight.png');
}
