/*
 *  Basic Elements
 */
body {
    background:#555555;
    color:#eeeeee;
}

nav {
    background:#444444;
}

nav a:hover {
    border-bottom:2px solid #dd7755;
    color:#dd7755 !important;
}

a:visited {
    color:#bbbbbb;
}

a {
    color:#eeeeee;
}


/*
 * Boxes
 */
.box {
    background:inherit;
    border:0px;
    border-bottom:1px solid #666666;
    padding-bottom:12px;
    padding-top:12px;
    padding-left:5px;
    padding-right:5px;
    margin-top:0px;
    margin-bottom:0px;
    border-radius:0px;
}

.box.title {
    color:#cccccc;
}

.body {
    margin-top:7px;
}

.form-errors {
    background-color:#cc9999;
    border:2px solid #aa6666;
    color:#442222;
    border-radius:5px;
}

/*
 *  Multitag box thing
 */
.multiTagBox {
    background-color:#444444;
    border:2px solid #666666;
}

/*
 * Forms
 */
input[type=text], input[type=password], input[type=email] {
    border:2px solid #666666;
    border-radius:5px;
    background-color:#444444;
    color:#eeeeee;
}

input[type=submit], button, select {
    background-color:#444444;
    border:2px solid #666666;
    border-radius:5px;
    color:#eeeeee;
    padding:4px;
}

/*
 * Colour picker
 */
.colour-select .colour-list {
    border:2px solid #666666;
}

.colour-select .colour[data-selected] {
    border-color:#dd7755;
}

/*
 * Tags
 */
.tag {
    border:0px;
    padding-left:10px;
    padding-right:10px;
}

.tagBlock, .autotag {
    border:1px;
    margin-top:2px;
    margin-bottom:2px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:3px;
}

/*
 * Buttons
 */
.delete.button {
    background-position:-16px -16px;
}

.expand.button {
    background-position:-32px -16px;
}

.editTitle.button {
    background-position:-96px -16px;
}

.addTag.button {
    background-position:0px -16px;
}

.multiTag.button {
    background-position:-64px -16px;
}

.multiTagAll.button {
    background-position:-48px -16px;
}

.untag.button {
    background-position:-80px -16px;
}

.rename.button {
    background-position:-112px -16px;
}

/*
 * Colours
 */
.white {
    background-color:#e8e8e8;
    border-color:#cccccc;
    color:#777777;
}

.black {
    background-color:#333333;
    border-color:#000000;
    color:#888888;
}

.darkblue {
    background-color:#222255;
    border-color:#000033;
    color:#7777aa;
}

.darkgreen {
    background-color:#225522;
    border-color:#003300;
    color:#77aa77;
}

.darkred {
    background-color:#552222;
    border-color:#330000;
    color:#aa7777;
}

.blue {
    background-color:#aaaaee;
    border-color:#7777cc;
    color:#222244;
}

.green {
    background-color:#99cc99;
    border-color:#66aa66;
    color:#224422;
}

.red {
    background-color:#cc9999;
    border-color:#aa6666;
    color:#442222;
}

.yellow {
    background-color:#eeee99;
    border-color:#cccc66;
    color:#666622;
}

.magenta {
    background-color:#cc99cc;
    border-color:#aa66aa;
    color:#442244;
}

.cyan {
    background-color:#99dddd;
    border-color:#66bbbb;
    color:#225555;
}

.orange {
    background-color:#ddbb88;
    border-color:#bb9955;
    color:#665533;
}
