{% load tag %}
<div class='bookmark box block' data-id='{{ bm.pk }}' data-taggable-type='bookmark'>
    <div class='head'>
        <div class='title noedit'><a href='{{ bm.url }}'>{{ bm.title }}</a></div>
        
        <div class='title edit'>
            <form class='renameForm' method='POST' action='{% url "bookmarks:rename" bookmark=bm.id %}'>
                {% csrf_token %}
                <input class='renameEntry' name='name' type='text' style='width:500px'/>
                <a class='rename button'>&nbsp;</a>
            </form>
        </div>
        
        <div class='tags'>{% for t in tags %}{% tag t bm rtf %}{% endfor %}</div>
        
        <div class='buttons'>
            <a class='expand button'>&nbsp;</a>
        </div>
    </div>
    
    <div class='body' style='display:none'>
        <div class='url'>{{ bm.url }} | Added {{ bm.added|date:"D j/n/y H:i" }}</div>
        
        <div class='right'>
            {% addTag atf bm.pk %}
        </div>
        
        <div class='buttons'>
            <a class='addTag button'>&nbsp;</a>
            <a class='editTitle button'>&nbsp;</a>
            
            <form action='{% url "bookmarks:delete" %}' method='POST' class='deleteForm'>
                {% csrf_token %}
                <input type='hidden' name='bookmark' value='{{ bm.pk }}'/>
                <a class='delete button'>&nbsp;</a>
            </form>
        </div>
    </div>
</div>
