{% load tag %}
<div class='bookmark box block' data-id='{{ bm.pk }}' data-taggable-type='bookmark'>
    <div class='head'>
        <div class='title noedit'>
            {% if bm.do_link %}<a href='{{ bm.url }}'>{{ bm.title }}</a>
            {% else %}<span class='nolink'>{{ bm.title }}</span>{% endif %}
        </div>
        <div class='title edit'>
            <form class='renameForm' method='POST' action='{% url "bookmarks:rename" bookmark=bm.id %}'>
                {% csrf_token %}
                <input class='renameEntry' name='title' type='text' value='{{ bm.title }}'/>
                <input name='url' type='hidden'/>
                <a class='rename button'>&nbsp;</a>
            </form>
        </div>
        
        <div class='tags nomobile'>{% for t in tags %}{% tag t bm rtf %}{% endfor %}</div>
        
        <div class='buttons'>
            <a class='expand button'>&nbsp;</a>
        </div>
    </div>
    <div class='head mobile'>
        <div class='tags'>{% for t in tags %}{% tag t bm rtf %}{% endfor %}</div>
    </div>
    
    <div class='body' style='display:none'>
        <div class='added nomobile'>{{ bm.added|date:"D j/n/y H:i" }}</div>
        
        <div>
            {% addTag atf bm.pk %}
        </div>
        
        <div class='buttons'>
            <a class='addTag button rightSpace'>&nbsp;&nbsp;&nbsp;</a>
        </div>
        
        <div class='rightIfMobile buttons'>
            <a class='editTitle button'>&nbsp;&nbsp;&nbsp;</a>
            
            <form action='{% url "bookmarks:delete" %}' method='POST' class='deleteForm'>
                {% csrf_token %}
                <input type='hidden' name='bookmark' value='{{ bm.pk }}'/>
                <a class='delete button'>&nbsp;&nbsp;&nbsp;</a>
            </form>
        </div>
    </div>
    
    <div class='body' style='display:none'>
        <div class='url noedit'>{{ bm.url }}</div>
        <div class='url edit'><input type='text' name='url' value='{{ bm.url }}'/></div>
    </div>
</div>
