{% load tag %}
<div class='bookmark' data-id='{{ bm.pk }}'>
    <div class='bookmarkHead'>
        <div class='title noedit'><a href='{{ bm.url }}'>{{ bm.title }}</a></div>
        
        <div class='title edit'>
            <form class='renameForm' method='POST' action='{% url "bookmarks:rename" bookmark=bm.id %}'>
                {% csrf_token %}
                <input class='renameEntry' name='name' type='text'/>
                <a class='rename button'>&nbsp;</a>
            </form>
        </div>
        
        <div class='tags'>{% for t in tags %}
            {% tag t %}
        {% endfor %}</div>
        
        <div class='buttons'>
            <a class='expand button'>&nbsp;</a>
        </div>
    </div>
    
    <div class='bookmarkBody' style='display:none'>
        <div class='url'>{{ bm.url }}</div>
        
        <div class='right'>
            <form class='tagForm' method='POST' action='{% url "bookmarks:tag" bookmark=bm.id %}'>
                {% csrf_token %}
                <input class='tagEntry' type='text' placeholder='Add Tag' name='name' list='tslist-{{ bm.pk }}'/>
                <datalist id='tslist-{{ bm.pk }}'>
                    
                </datalist>
                {{ atf.colour }}
                
            </form>
        </div>
        
        <div class='buttons'>
            <a class='addTag button'>&nbsp;</a>
            <a class='editTitle button'>&nbsp;</a>
            <a class='delete button'>&nbsp;</a>
        </div>
    </div>
</div>
