{% extends "base.html" %}
{% load form_errors %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

{% if note %}
<div class='box'>
    {{ note }}
</div>
{% endif %}

<div class='box title'>
    Account Settings
</div>

<div class='box'>
    You are logged in as {{ user.username }}.<br/>
    <form action='{% url "user:logout" %}' method='POST'>
        {% csrf_token %}
        <input type='submit' value='Log Out'/>
    </form>
</div>

{% if not user.settings.is_trial %}
    {% form_errors pass_form %}
    <div class='box'>
        <form method='POST' action='{% url "user:pass_change" %}'>
            {% csrf_token %}
            Change Password:<br/>
            <label>Old Password: {{ pass_form.old_password }}</label><br/>
            <label>New Password: {{ pass_form.new_password1 }}</label><br/>
            <label>Type it Again: {{ pass_form.new_password2 }}</label><br/>
            <input type='submit' value='Change Password'/>
        </form>
    </div>
{% endif %}

<div class='box title'>
    Site Settings
</div>

{% form_errors settings_form %}
<div class='box'>
    <form method='POST' action='{% url "user:home" %}'>
        {% csrf_token %}
        <label>Theme: {{ settings_form.theme }}</label><br/>
        <label>Invalid URL Handling: {{ settings_form.url_settings }}</label><br/>
        <label>{{ settings_form.no_analytics }} Opt out of anonymous usage tracking</label><br/>
        <label>{{ settings_form.hide_settings }} Hide settings button on navbar; you can access it from the bottom of the page
        </label><br/>
        <input type='submit' value='Update Settings'/>
    </form>
</div>

<div class='box'>
    You can automatically set up rules that automatically tag newly added bookmarks.<br/><br/>
    
    <button><a href='{% url "autotags:home" %}' style='color:inherit'>Configure Autotag Settings</a></button>
</div>

<div class='box title'>
    Import and Export
</div>

{% form_errors importForm %}
<div class='box'>
    This allows you to import bookmarks from another application or browser. When exporting from them, you should be
    given a &quot;html&quot; file, simply select that file here and click import.<br/><br/>
    
    Note that not all applications include information about tags, so clicking "Include Tags" may not do anything. In
    addition, information about tags, such as their colour and links to other tags is never included, even if you
    export bookmarks from BMAT.<br/><br/>
    
    <form enctype='multipart/form-data' action='{% url "user:import" %}' method='POST'>
        {% csrf_token %}
        <label>{{ importForm.use_tags }} Include Tags</label><br/>
        {{ importForm.file }}<br/>
        <input type='submit' value='Import Bookmarks From HTML'/>
    </form>
</div>

<div class='box'>
    You can export your bookmarks here by clicking the button below and saving the page. The saved file can then be
    imported into other browsers or applications.<br/><br/>
    
    <button><a href='{% url "bookmarks:export" %}' style='color:inherit'>Export Bookmarks To HTML</a></button>
</div>

{% endblock %}
