{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<div class='box'>
    <form action='{% url "user:logout" %}' method='POST'>
        {% csrf_token %}
        <input type='submit' value='Log Out'/>
    </form>
</div>

<div class='box'>
    Please note that if you export your bookmarks and then import them again, "implies" relationships between tags
    won't be preserved.
</div>

<div class='box'>
    <button><a href='{% url "bookmarks:export" %}' style='color:inherit'>Export Bookmarks To HTML</a></button>
</div>

<div class='box'>
    <form enctype='multipart/form-data' action='{% url "user:import" %}' method='POST'>
        {% csrf_token %}
        <label>{{ importForm.use_tags }} Include Tags (If available)</label><br/>
        {{ importForm.file }}<br/>
        <input type='submit' value='Import Bookmarks From HTML'/>
    </form>
</div>

{% endblock %}
