{% extends "base.html" %}
{% load form_errors static %}

{% block title %}BMAT - A Lightweight Bookmarks Manager{% endblock %}

{% block content %}

<div class='box title' style='font-size:150%'>
    BMAT - A Lightweight Bookmarks Manager
</div>

<div class='box pitch underlink'>
    <div class='text'>
        BMAT is a free open source lightweight website that allows you to manage your bookmarks with the following features:
        <ul>
            <li>Tag bookmarks in order to categorise them.</li>
            <li>Colour-code these tags, and add them to the navigation bar for easy access.</li>
            <li>Allow tagging a bookmark with one tag to apply related tags.</li>
            <li>Automatically tag a bookmark based on its URL when you add it.</li>
            <li>Search your bookmarks and tags.</li>
            <li>Add bookmarks directly from a site using a browser extension.</li>
            <li>No social media integration; there are no &quot;share&quot; buttons telling you how popular your private
                bookmarks are.</li>
        </ul>
    </div>
    
    <div class='image'>
        <img alt='Screenshot of Application' src='{% static "Pitch.png" %}'/>
    </div>
</div>

{% comment %}<div class='box underlink'>
    This is a web application that allows you to manage your bookmarks across multiple devices. It has the following
    features:
    <ul>
        <li>Bookmarks can be tagged into categories!</li>
        <li>Those categories can also be tagged themselves. So if you have a category &quot;dogs&quot; you can tag it
        &quot;animals&quot; and anything tagged &quot;dogs&quot; will also be tagged &quot;animals&quot;!</li>
        <li>You can search your bookmarks and tags!</li>
        <li>No social media integration! No &quot;like&quot; buttons everywhere, no counters saying how popular websites
        are, nothing.</li>
    </ul>
</div>{% endcomment %}

{% form_errors form %}
{% form_errors reg_form %}

<section class='login-options'>
<div class='box underlink center'>
    <form method='POST'>
        {% csrf_token %}
        <div class='box title'>Log In</div>
        <label>Username<br/>
            {{ form.username }}</label><br/>
        <label>Password<br/>
            {{ form.password }}</label><br/>
        <input type='submit' value='Log In'/>
    </form>
    <br/>
    <br/><button onclick='document.location="/user/reset"'>Password Reset</button>
</div>

{% if can_register %}
    <div class='box center'>
        <div class='box title'>Register</div>
        
        <form method='POST' action='/register'>
            {% csrf_token %}
            <label>Username<br/>
                {{ reg_form.username }}</label><br/>
            <label>Optional Email<br/>
                {{ reg_form.email }}</label><br/>
            <label>Password<br/>
                {{ reg_form.password1 }}</label><br/>
            <label>Repeat Password<br/>
                {{ reg_form.password2 }}</label><br/>
            <input type='submit' value='Register'/>
        </form>
    </div>
    
    <div class='box center'>
        <div class='box title'>Test Account</div>
        You can create a test account to try out the application without creating a login.<br/>
        <br/>
        Be aware that it will be deleted after a few days, but if you like the site, you can convert it into a full
        account by providing a username and password.<br/>
        <br/>
        <form method='POST' action='{% url "user:make_trial" %}'>
            {% csrf_token %}
            <input type='submit' value='Create Test Account'/>
        </form>
    </div>
{% endif %}
</section>

<div class='box underlink'>
    Please note, by using this site you agree to the use of cookies on your device. You can read about this in more
    detail in the <a href='{% url "privacy" %}'>Privacy Policy</a>.
</div>

{% endblock %}
