{% extends "base.html" %}
{% load form_errors %}

{% block title %}Login{% endblock %}

{% block content %}

<div class='box'>
    Please note, by using this site you agree to the use of cookies on your device. This is to gather anonymous
    statistics, such as your browser version or screen resolution. If you wish, you may opt out of this by going into
    your settings after you log in. Your personal information or stored bookmarks will never be shared with any third
    parties.<br/>
    <br/>
    This application also uses Google AdSense, which uses cookies to show you adverts tailored to your interests. If you
    wish, you may opt out of targeted advertising here: <a href='https://www.google.co.uk/settings/ads'>Google
    Advert Settings</a>
</div>

{% form_errors form %}

<div class='box'>
    <form method='POST'>
        {% csrf_token %}
        <strong>Log In</strong>
        {% if can_register %}
            <br/>If you don't have an account, register <a href='{% url "user:register" %}'>here</a>
        {% endif %}<br/>
        <label>Username: {{ form.username }}</label><br/>
        <label>Password: {{ form.password }}</label><br/>
        <input type='submit' value='Log In'/> - <a href='{% url "user:reset" %}'>Forgot Password?</a>
    </form>
</div>

{% endblock %}
