{% extends "base.html" %}

{% load form_errors %}

{% block title %}Register{% endblock %}

{% block content %}

{% form_errors form %}

<div class='box'>
    <form method='POST'>
        {% csrf_token %}
        <strong>Register Account</strong><br/>
        <label>Username: {{ form.username }}</label><br/>
        <label>Optional Email: {{ form.email }}</label><br/>
        <label>Password: {{ form.password1 }}</label><br/>
        <label>Repeat Password: {{ form.password2 }}</label><br/>
        <input type='submit' value='Register'/>
    </form>
</div>

{% endblock %}
